<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
 .footer {
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: gray; /* 배경색 추가 */
    }
    .contact {
        text-align: center; /* 각 섹션의 텍스트를 중앙 정렬 */
    }

    .lik {
        list-style-type: none;
        padding: 0;
        text-align: center; /* 추가 링크들을 중앙 정렬 */
    }

    .lik li {
        margin-bottom: 5px; /* 추가 링크 사이 여백 추가 */
    }

    .copyright {
        text-align: center; /* 저작권 정보를 중앙 정렬 */
        margin-top: 20px; /* 저작권 정보 위 여백 추가 */
    }
</style>
</head>
<body>
    <!--  footer --> 
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
            </div>
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>conatct us</h3>
                     <span>123 Second Street Fifth Avenue,<br>
                       Manhattan, New York<br>
                        +987 654 3210</span>
                  </div>
               </div>
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>ADDITIONAL LINKS</h3>
                     <ul class="lik">
                         <li> <a href="#">About us</a></li>
                         <li> <a href="#">Terms and conditions</a></li>
                         <li> <a href="#">Privacy policy</a></li>
                         <li> <a href="#">News</a></li>
                          <li> <a href="#">Contact us</a></li>
                     </ul>
                  </div>
               </div>
                 <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div class="contact">
                     <h3>service</h3>
                      <ul class="lik">
                    <li> <a href="#"> </a></li>
                         <li> <a href="#">Computer repair</a></li>
                         <li> <a href="/wshop/main">Womens</a></li>
                         <li> <a href="/mshop/main">Man's</a></li>
                          <li> <a href="/board/list">Community</a></li>
                  </div>
               </div>  
            </div>
         </div>
            <div class="copyright">
               <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a> Distributed By <a href="https://themewagon.com">ThemeWagon </a></p>
           	   <p class="fl_right">Template by <a target="_blank" href="#">박가원</a></p>
            </div>
         
      </div>
      </footer>
      <!-- end footer -->
</body>
</html>