<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section class="slider_section">
         <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">

            <div class="carousel-inner">
               <div class="carousel-item active">
                 <a href="/wshop/main">
                  <img class="first-slide" src="../images/th-1.png" alt="우먼즈 페이지 이동">
                 </a>
               </div>
            </div>
            <!-- <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class='fa fa-angle-right'></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class='fa fa-angle-left'></i>
            </a> -->
            
         </div>
      </section>
      
      <div class="Clients_bg_white">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="title text-center">
                        <h3><strong>🎧Today's recommend music🎧</strong></h3>
                         <h4><strong>오운완!을 위한 오늘의 추천 앨범 리스트</strong></h4>
                        
                                                
                     </div>
                  </div>
               </div>
               <div id="client_slider" class="carousel slide banner_Client" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#client_slider" data-slide-to="0" class="active"></li>
          <li data-target="#client_slider" data-slide-to="1"></li>
          <li data-target="#client_slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="carousel-caption text-bg">
               <div class="img_bg">
                  <i><img src="../images/music(1).png"/><span>TWS(투어스)<br><strong class="date">2024.01.22</strong></span></i>   
               </div>
                <br>
                <p>'2024년 최고 기대주' TWS, 데뷔 앨범 'Sparkling Blue'공개!<br>
                TWS는 삶에 다시는 오지 않을 아름답고, 반짝이던 그 시절로 리스너를 안내한다.<br>
                소중한 순간이 영원할 수 잇기를 바라는 마음으로, 누군가에게는 더욱 빛나는 현실로,<br>
                혹은 잡고 싶은 환상으로, 그리고 애틋한 기억이 되길 바라며 풀내음 닮은 추억을 선사하고자 한다. </p>
                
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-bg">
                <div class="img_bg">
                  <i><img src="../images/music(2).png"/><span>LUCY(루시)<br><strong class="date">2022.08.17</strong></span></i>
                  
               </div>
                <br>
                <p>단독 콘서트와 다양한 페스티벌에서 이미 공연형 밴드로의 입지를 다진 밴드 LUCY.<br>
                자유이자 동심 그리고 순수한 마음을 지닌 유년기를 뜻하는 'Childhood'는<br>
                 이 모든 것을 잃지 않고자 하는 LUCY의 염원이 담긴 그들의
                모토이자 아이덴티티이며,초심 같은 단어이다.<br>
                이번 앨범에서 그들은 장르에 국한되거나 규정되지 않은 다양한 시도를 통하여 자유로움과 에너지를 표현하며,<br>
                그들만의 꾸밈없고 현실적이고 따뜻한 가사들이
                이를 뒷받침 한다.</p>
                 
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="carousel-caption text-bg">
                 <div class="img_bg">
                  <i><img src="../images/music(3).png"/><span>DAY6(데이식스)<br><strong class="date">2019.07.15</strong></span></i>    
               </div>
               <br>
                <p>DAY6 본연의 색깔을 입힌 음악들로 팬들의 마음속 깊은 울림을 선사한 DAY6가<br>
                'The Book of Us:Gravity'에서는 청춘의 순간들을 함께 써내려간다.<br>
                매 앨범 자신들만의 서사를 차곡차곡 쌓으며 'K팝 대표 밴드'로 거듭난 DAY6.<br>
                마음을 끌어당기는 힘을 가진 메시지와 감수성으로 가득 채운 앨범 'The Book of Us:Gracity'로<br>
                함께 여름날 한 페이지를 채워 갈 준비를 마쳤다.</p>
               
              </div>
            </div>
          </div>
        </div>
      </div>
            </div>
         </div> 
 

      <!-- 이벤트 배너 시자악 --> 
      <div class="service">
         <div class="container">
            <div class="row">
               <div class="col-md-8 offset-md-2">
                  <div class="title">
                     <span><strong>🎊OPEN EVENT🎊</strong></span>
                  </div>
               </div>
            </div>
            <div class="row">
			    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			        <i><img src="images/Event.png"/></i>
			    </div>
			    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			        <i><img src="images/review.png"/></i>
			    </div>
			    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
			        <i><img src="images/delivery-1.png"/></i>
			    </div>
			</div>
         </div>
      <!-- 이벤트 배너 끝 -->

      <!-- 우먼 베스트 -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title text-center">
                     <span><strong>Women 우먼즈 BEST모음.zip✨</strong></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/wshop/detail?jwno=5}"></i>
                     <i><img src="../images/1.png"/></i>
                     <h3>젤라 인텐션 와이드 레깅스 1+1</h3>
                     <span>118,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                    <i><a th:href="@{http://localhost:8080/wshop/detail?jwno=48}"></i>
                     <i><img src="../images/2.png"/></i>
                     <h3>소프트 리브드 스퀘어넥 탑</h3>
                     <span>64,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/wshop/detail?jwno=116}"></i>
                     <i><img src="../images/3.png"/></i>
                     <h3>케이블 패턴 하이넥 배색 점퍼</h3>
                     <span>159,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/wshop/detail?jwno=11}"></i>
                     <i><img src="../images/4.png"/></i>
                     <h3>헤바 크롭탑 1+1 </h3>
                     <span>58,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/wshop/detail?jwno=17}"></i>
                     <i><img src="../images/5.png"/></i>
                     <h3>데일리페더 베이직 롱슬리브</h3>
                     <span>54,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                    <i><a th:href="@{http://localhost:8080/wshop/detail?jwno=91}"></i>
                     <i><img src="../images/6.png"/></i>
                     <h3>내핑 후드 집업 세피아핑크</h3>
                     <span>109,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/wshop/detail?jwno=174}"></i>
                     <i><img src="../images/7.png"/></i>
                     <h3>드롭숄더 집업 베스트 블랙</h3>
                     <span>109,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/wshop/detail?jwno=175}"></i>
                     <i><img src="../images/8.png"/></i>
                     <h3>드롭숄더 집업 베스트 화이트</h3>
                     <span>109,000원</span>
                     </a>
                        </div>
                    </div>
                 </div>   
               </div>
            </div>
         </div>
      <!-- end our product -->
      
      
       <!-- 맨즈 베스트 -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title text-center">
                     <span><strong>Mans 맨즈 BEST모음.zip✨</strong></span>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="product-bg">
         <div class="product-bg-white">
         <div class="container">
            <div class="row">
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                    <i><a th:href="@{http://localhost:8080/mshop/detail?jmno=5}"></i>
      				  <i><img src="../images/(1).png"/></i>
      				   <h3>트리플엑스 숏슬리브 1+1</h3>\
      				   <span>78,000원</span>
      				   </a>
                    </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/mshop/detail?jmno=8}"></i>
                     <i><img src="../images/(2).png"/></i>
                     <h3>프로텍티브 숏슬리브 1+1</h3>
                     <span>78,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/mshop/detail?jmno=42}"></i>
                     <i><img src="../images/(3).png"/></i>
                     <h3>스트레치 트레이닝 SET</h3>
                     <span>188,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/mshop/detail?jmno=29}"></i>
                     <i><img src="../images/(4).png"/></i>
                     <h3>하이쿨링 테크 숏슬리브 1+1</h3>
                     <span>108,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/mshop/detail?jmno=433}"></i>
                     <i><img src="../images/(5).png"/></i>
                     <h3>피케 폴로 숏슬리브</h3>
                     <span>59,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/mshop/detail?jmno=33}"></i>
                     <i><img src="../images/(6).png"/></i>
                     <h3>프렌치 테리 SET</h3>
                     <span>143,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/mshop/detail?jmno=68}"></i>
                     <i><img src="../images/(7).png"/></i>
                     <h3>컴포터블 카고 조깅스 네이비</h3>
                     <span>74,000원</span>
                     </a>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                  <div class="product-box">
                     <i><a th:href="@{http://localhost:8080/mshop/detail?jmno=113}"></i>
                     <i><img src="../images/(8).png"/></i>
                     <h3>스트레치 기모 조거팬츠 블랙</h3>
                     <span>109,000원</span>
                     </a>
                     </div>
                   </div>
                 </div>    
               </div>
            </div>
         </div>

      <!-- end our product -->
</body>
</html>