<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>맨즈 상품 리스트</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
img:hover {
    opacity: 0.7;
    transition: opacity 0.4s; /* 호버 효과 시간 설정 */
}

 .product-title {
        margin-top: 10px; /* 포스터와 상품명 사이 간격 조절 */
    }
</style>
</head>
<body>
    <div class="wrapper row3">
        <main class="container clear"> 
            <div class="content"> 
                <div id="gallery">
                    <figure>
                         <h2 class="sectiontitle text-center"><strong>MENS</strong></h2>
                        <header class="heading">총 <span style="font-size: 30px;color:green" th:text="${count}"></span>개의 상품이 있습니다.</header>
                          
                        <ul class="nospace clear row text-center">
                            <li th:each="vo,i:${list}" class="col-md-4">
                                <a th:href="@{/mshop/before_detail(jmno=${vo.jmno})}">
                                    <img th:src="${vo.poster}">
                                    <br>
                                    <p class="product-title" th:text="${vo.title}" style="font-size: 18px;color:black"></p> <!-- 상품명 출력 -->
                                    <p th:text="'가격: ' + ${vo.price}" style="font-size: 18px;color:black"></p> <!-- 가격 출력 -->
                                </a>
                            </li>
                        </ul>
                    </figure>
                </div>
                
                <!-- 페이지 출력 -->
                <div class="text-center">
                    <nav class="pagination">
                        <ul class="pagination pagination-lg">
                            <li th:if="${startPage > 1}"><a th:href="@{/mshop/main(page=${startPage-1})}">&laquo; Previous</a></li>
                            <li th:class="${curpage == i ? 'current' : ''}" th:each="i:${#numbers.sequence(startPage,endPage)}">
                                <a th:href="@{/mshop/main(page=${i})}" th:text="${i}"></a></li>
                            <li th:if="${endPage < totalpage}"><a th:href="@{/mshop/main(page=${endPage+1})}">Next &raquo;</a></li>
                        </ul>
                    </nav>
                </div>
                
                <!-- 최근 본 상품 목록 -->
                <div>
                    <h3>최근 본 맨즈 상품</h3>
                    <ul>
                        <li th:each="recentProduct : ${recentProducts}">
                            <a th:href="@{/mshop/detail(jmno=${recentProduct.jmno})}">
                                <img th:src="${recentProduct.poster}" th:title="${recentProduct.title}" style="width: 100px; height: 100px; margin-left: 5px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </main>
    </div>
</body>
</html>